body {
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #000;
    height: 50px;
}

.cart-button {
    width: 100px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    margin-right: 20px;
}

.goods-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.goods-item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 150px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.goods-item p {
    margin: 0;
}