.product_card_in_cart {
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
}

// .product_card-cartlist {}





.product_card_shipping_adress-form {
    display: flex;
    flex-direction: column;
}